.incorrect {
    border: 2px solid grey;
    width: 40%;
    margin: auto;
    height: 50px;
    margin-top: -55px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.incorrect-msg {
    background-color:#dd3e3e;
    padding: 10px;
    color: white;
    width: 40%;
}